/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* bg colors */
  --background: #252525;
  --orange: #ffa400;
  --red: #fc2933;
  --white: #ffffff;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Gradiente */
  --gradiente_1: #ffa100;
  --gradiente_2: #fb103d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #131415;
}
i {
  color: #ffa100;
}
header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px 0px 30px;
  margin: 0 auto;
  z-index: 999;
}
.container-logo {
  position: absolute;
  width: 76px;
  height: 79px;
  left: 65px;
  top: 31px;
  background: url(nucbazappiicon.png);
}
.logo {
  position: absolute;
  width: 76px;
  height: 79px;
  left: 65px;
  top: 31px;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list a {
  color: var(--text-gray);
  font-size: 14px;
}
.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}
.cart-icon {
  border: 1px solid var(--bg-electric);
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--gradiente_1);
  cursor: pointer;
}
.menu-label {
  display: none;
}

.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, #121e3c, var(--background));
  border-left: 1px solid var(--nav-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 891px;
  top: -9;
  left: 1084px;
  border-radius: 15px;
  color: #252525;
  box-shadow: 0px 0px 50px 0px #01020780;
}
.cart::-webkit-scrollbar {
  display: none;
}
.cart h2 {
  height: 23px;
  width: 278px;
  left: 1103px;
  top: 106px;
  border-radius: nullpx;

  position: absolute;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.cart-container {
  height: 103px;
  width: 347px;
  left: 1130px;
  top: 164px;
  border-radius: 15px;
  background: #252525;
  box-shadow: 0px 0px 50px 0px #01020780;
  position: absolute;
}
.cart-subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-subtotal p {
  height: 23px;
  width: 112px;
  left: 1123px;
  top: 617px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  position: absolute;
}
.cart-subtotal span {
  height: 23px;
  width: 112px;
  left: 1363px;
  top: 617px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
  position: absolute;
}
.cart-envio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart-envio p {
  height: 23px;
  width: 112px;
  left: 1123px;
  top: 647px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
  position: absolute;
}
.cart-envio span {
  height: 23px;
  width: 112px;
  left: 1363px;
  top: 647px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  background: #ffffff;
  position: absolute;
}
.cart-total {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart-total p {
  height: 23px;
  width: 112px;
  left: 1123px;
  top: 701px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
}
.cart-total span {
  height: 23px;
  width: 112px;
  left: 1363px;
  top: 701px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: right;
  background: #ff7a00;
}
.btn-buy {
  height: 50px;
  width: 254px;
  left: 1171px;
  top: 768px;
  border-radius: 15px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  box-shadow: 11px 28px 50px 0px #144e5a33;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: 140px;
}

.container-principal {
  display: flex;
  flex-direction: row;
  gap: 230px;
}

.container-sectioImg {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-section {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container-section h2 {
  font-family: Montserrat;
  font-style: normal;
  font-size: 66px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.container-section h3 {
  font-family: Montserrat;
  font-style: normal;
  font-size: 51px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.container-section p {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.btn-vermas {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  height: 50px;
  width: 166px;
  left: 133px;
  top: 415px;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.pizzaDoble {
  margin-top: 150px;
}

.container-recomendaciones {
  display: flex;
  flex-direction: column;
}
.container-recomendaciones h2 {
  height: 23px;
  width: 278px;
  /*left: 120px;*/
  top: 536px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}
.container-cardRecomendaciones {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-card {
  margin: 0 30px;
  height: 103px;
  width: 347px;
  left: 197px;
  top: 583px;
  border-radius: 15px;
  background: #25252563;
  box-shadow: 0px 0px 50px 0px #01020780;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-card p {
  height: 20px;
  width: 100%;
  /*left: 1120px;*/
  top: 1244px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  /*text-align: left;*/
  color: #ffffff;
  margin-left: 22px;
  margin-top: 11px;
}

.info-reco span {
  height: 17px;
  width: 100%;
  left: 1120px;
  top: 1268px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff3b;
  margin-top: 4px;
  margin-left: 22px;
}

.img-reco {
  left: 13.96%;
  right: 81.94%;
  top: 31.97%;
  bottom: 64.74%;

  background: url(pexels-ana-madeleine-uribe-2762939.jpg);
  mix-blend-mode: normal;
  border-radius: 16px;
  margin-left: 20px;
}

.hero-categorias {
  margin-top: 180px;
  margin-bottom: 150px;
}
.hero-categorias h2 {
  height: 20px;
  width: 87px;
  /*left: 120px;*/
  top: 770px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  /*position: absolute;*/
  margin-bottom: 20px;
}
.container-categorias {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  align-items: center;
  gap: 40px 40px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.card-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 171px;
  width: 147px;
  left: 116px;
  left: 116px;
  top: 821px;
  border-radius: 15px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
}
.img-cat {
  height: 71px;
  width: 71px;
  left: 154px;
  top: 846px;
}

.card-categorias a {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 116px;
  height: 20px;
  left: 314px;
  top: 938px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 20px */

  text-align: center;
  color: #ffffff;
}

.lineaNaranja {
  /* Rectangle 13 */
  width: 24px;
  height: 4px;
  left: 177px;
  top: 970px;

  /* linear-primary */
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.hero-masPopulares {
  /*margin-top: 180px;*/
  /*margin-bottom: 150px;*/
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}
.hero-masPopulares h2 {
  height: 23px;
  width: 278px;
  /*left: 120px;*/
  /*top: 1066px;*/
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  /*position: absolute;*/
  /*margin: 50px 0;*/
  margin-bottom: 20px;
}
.contenedor-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-containerpopu {
  width: 282px;
  left: 132px;
  top: 1120px;
  border-radius: 15px;
  background: #252525;
  box-shadow: 0px 0px 50px 0px #01020780;
  gap: 0 30px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.container-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.img-populares {
  margin: 16px 22px 4px 23px;
}
.container-info p {
  height: 20px;
  width: 100%;
  left: 1120px;
  top: 1244px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 22px;
  margin-top: 11px;
}
.container-info span {
  height: 17px;
  width: 100%;
  left: 1120px;
  top: 1268px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff3b;
  margin-top: 4px;
  margin-left: 22px;
}
.container-precio__btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 18px;
}
.container-precio__btn span {
  margin-left: 22.45px;

  /* Priece */

  height: 25px;
  left: 31.51%;
  right: 64.98%;
  top: calc(50% - 25px / 2 + 358px);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 131.02%;
  /* identical to box height, or 25px */

  /* linear-primary */
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /*text-fill-color: transparent;*/
}

.colorPrecio {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height, or 25px */

  /* linear-primary */
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-popu {
  height: 29px;
  width: 85px;
  left: 1274px;
  top: 1539px;
  border-radius: 17.5px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  color: #ffffff;
  margin-right: 21px;
}
footer {
  margin-top: 171px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.link1 {
  height: 22px;
  width: 142px;
  left: 534px;
  top: 1723px;
  border-radius: undefinedpx;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-right: 27px;
}
.link2 {
  height: 22px;
  width: 179px;
  left: 703px;
  top: 1723px;
  border-radius: undefinedpx;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-right: 28px;
}
.link3 {
  height: 22px;
  width: 68px;
  left: 910px;
  top: 1723px;
  border-radius: undefinedpx;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.MSJ-NUCBA {
  margin-top: 68px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.msjFotter {
  width: 40%;
  height: 100px;
  margin: 0 auto;
}

.hechoNucba {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  header {
    width: 90%;
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-cardRecomendaciones {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  .hero-categorias {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .container-principal {
    gap: 0px;
  }

  .container-sectioImg {
    display: none;
  }

  .container-categorias {
    flex-direction: column;
  }

  .container-links {
    flex-direction: column;
  }

  .container-section h2 {
    font-size: 30px;
  }

  .container-section h3 {
    font-size: 15px;
  }

  .container-section p {
    font-size: 10px;
  }

  .navbar {
    gap: 0px;
  }

  .logo {
    left: 15px;
  }

  .info-card {
    margin: 0px;
  }
}
